<div class="container-fluid overflow-hidden">
    <div style="margin-top: 1%;">

        <div class="row d-flex " style="">

            <div class="col-md-5 " style="">

                <app-roomscene-product-detail></app-roomscene-product-detail>
            </div>
            <div class=" col-md-7 ">

                <app-roomscene-template [template]="template"></app-roomscene-template>
            </div>

        </div>
    </div>
    <hr>

    <app-roomscene-product-list style="margin-bottom: 1%;"></app-roomscene-product-list>
</div>