<!--Main Navigation-->
<app-header></app-header>
<!-- Animated navbar-->
<div class="container-fluid">
  <div class="row">


    <div id="intro" class="bg-image" style="
      background-image: url(https://img.freepik.com/premium-photo/cabinet-mock-up-room-dark-blue-floor-wooden-minimal-design-3d-rendering_43151-1759.jpg?w=2000);
      overflow-y:auto;
      height: 100vh;
      ">
      <div class="mask text-white" style="background-color: rgba(0, 0, 0, 0.8)">

        <div class="container-fluid" style="height: 100%;">

          <router-outlet></router-outlet>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- Animated navbar -->

<!-- Background image -->

<!-- Background image -->


<!--Main Navigation-->