.bg-text {
    background: rgba(143, 179, 164, 0.3); /* Black w/opacity/see-through */
    color: rgb(255, 255, 255);
    font-weight: bold;
     border: 4px solid #14391f;
     border-radius: 2%;
    

  }